body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.contents {
    flex: 1;
    margin: 5em;
}

.left-column {
    float: left;
    width: 50%
}

.right-column {
    float: right;
    width: 50%
}

#title-no {
    font-size: 120%;
    opacity: 0.25;
}

.list-image {
    max-width: 100%;
    height: auto; 
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height: auto; 
}

.project-list li {
    padding-bottom: 2em;
}

.project-desc {
    padding-left: 2em;
}

footer {
    background-color: #4e5d6c;
}

#copyright {
    margin: 0.2em;
}
